{% extends "base.html" %}
	{% block content %}
		<style>
			.container_details {text-align: center}
			.GJButton{ border-color:#2C8A64; background-color: #2C8A64; background-image:none; outline:none;  font-family: 'Poiret One', cursive;}
		.GJButton:hover, .GJButton:focus, .GJButton:active { border-color: #/FED136; background-color: #FED136; transition:all 0.5s; outline:none;  font-family: 'Poiret One', cursive;}
		.btn-success{ border-color:#2C8A64; background-color: #2C8A64; background-image:none; outline:none; font-family: 'Poiret One', cursive;}
		.btn-success:hover , .btn-success:focus, .btn-success:active { border-color: #19E794; background-color: #19E794; transition:all 0.5s; outline:none; font-family: 'Poiret One', cursive;}
		</style>
		<section>
			<div class="container">
				<legend style="font-size:50px; text-align:center" > Create an item  </legend>
				<form action="/GJ_app/processNewItem" method="POST"> {% csrf_token %}
					<div class="row">
						<div class="col-xs-12 col-md-4">
							<legend style="text-align:center" > (1) Basic Info  </legend>
							<div class="form-group">
								<label for="nickNameEdit">Item Nickname</label>
								<div class="input-group" style="width:100%">
									<input class="form-control" name="nickNameEdit" placeholder="Ex: Big Mac, Egg Muffin, Ultimate Supreme Pizza, ..">
								</div>
							</div>
							<div class="form-group">
								<label for="basePriceEdit">Base Price (Subtotal Price before Sales Tax)</label>
								<div class="input-group">
									<div class="input-group-addon">$</div>
									<input class="form-control" name="basePriceNatural" placeholder="Ex: 2 dollars">
									<div class="input-group-addon">.</div>
									<input class="form-control" name="basePriceFloat" placeholder="Ex: 90 cents">

								</div>
							</div>
							<div class="form-group">
								<label for="startDateEdit">Item Start Date</label>
								<div class='input-group date' id='datetimepicker1' data-date-format="dd-mm-yyyy">
									<input type='text' class="form-control" name="startDateEdit"  id="startDateEdit" />
									<span class="input-group-addon">
										<span class="glyphicon glyphicon-calendar"></span>
									</span>
								</div>
							</div>
							<div class="form-group">
								<label for="endDateEdit">Item End Date</label>
								<div class='input-group date' id='datetimepicker2'>
									<input type='text' class="form-control" name="endDateEdit" id="endDateEdit" />
									<span class="input-group-addon">
										<span class="glyphicon glyphicon-calendar"></span>
									</span>
								</div>
							</div><div class="form-group">
								<label for="startTimeEdit">Item Start Time</label>
								<div class='input-group date' id='datetimepicker3'>
									<input type='text' class="form-control" name="startTimeEdit" id="startTimeEdit" />
									<span class="input-group-addon">
										<span class="glyphicon glyphicon-calendar"></span>
									</span>
								</div>
							</div><div class="form-group">
								<label for="endTimeEdit">Item End Time</label>
								<div class='input-group date' id='datetimepicker4'>
									<input type='text' class="form-control" name="endTimeEdit" id="endTimeEdit" />
									<span class="input-group-addon">
										<span class="glyphicon glyphicon-calendar"></span>
									</span>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-md-8">
							<legend style="text-align:center" > (2) Item Details  </legend>
							<div class="row">
								<div class="col-xs-12 col-md-6">
									<div class="container_details">
										<h5> Item Category</h5>
										<div class="dropdown">
											<button class="btn btn-default dropdown-toggle" id="category" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												Category
											<span class="caret"></span>
											</button>
											<ul class="dynamic_link dropdown-menu" aria-labelledby="category">
												{% for element in categories %}
													<li role="presentaton" class="group" id="{{element.category_id}}"><a href="">{{element.category_name}} </a></li>
												{% endfor %}
											</ul>
										</div>
									</div>
									<div class="container_details">
										<h5> Item Container</h5>
										<div class="dropdown">
											<button class="btn btn-default dropdown-toggle" id="container" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												Container
											<span class="caret"></span>
											</button>
											<ul class="dynamic_link dropdown-menu" aria-labelledby="category">
												{% for element in containers %}
													<li role="presentaton" class="group" id="{{element.container_id}}"><a href="">  {{element.container_name}} </a></li>
												{% endfor %}
											</ul>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-md-6">
									<div class="container_details">
										<h5> Item Main Ingredient </h5>
										<div class="dropdown">
											<button class="btn btn-default dropdown-toggle" id="mainIngredient" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												Main Ingredient
											<span class="caret"></span>
											</button>
											<ul class="dynamic_link dropdown-menu" aria-labelledby="mainIngredient">
												{% for element in categoryOptions %}
													<li role="presentaton" class="group" id="{{element.option_id.option_id}}"><a href="">  {{element.option_id.option_name}} </a></li>
												{% endfor %}
											</ul>
										</div>
									</div>
									<div class="container_details">
										<h5> Choose a size </h5>
										<div class="dropdown">
											<button class="btn btn-default dropdown-toggle" id="category" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												Size
											<span class="caret"></span>
											</button>
											<ul class="dynamic_link dropdown-menu" aria-labelledby="category">
												{% for element in sizes %}
													<li role="presentaton" class="group" id="{{element.size_id}}"><a href="">  {{element.size_name}} </a></li>
												{% endfor %}
											</ul>
										</div>
										<div class="col-xs-12 col-md-6">
											<h5> How Many Pieces? </h5>
											<div class="input-group">
												<input class="form-control" name="count_number" placeholder="Ex: 3, 6, 7, .. ">
											</div>
										</div>
										<div class="col-xs-12 col-md-6">
											<h5> Discount Price </h5>
											<div class="input-group">
												<div class="input-group-addon">$</div>
												<input class="form-control" name="discountNatural" placeholder="2">
												<div class="input-group-addon">.</div>
												<input class="form-control" name="discountFloat" placeholder="90">
											</div>
										</div>
									</div>

								</div>
							</div>
							<div class="row container" style="padding-top:50px; padding-left:20%">
								<h5> Optional Ingredients </h5>
								<table class="table table-hover col-xs-12 col-md-6" style="width:50%">
									<thead>
										<th> </th>
										<th> </th>
										<th> </th>
									</thead>
									<tbody>
										<tr>
											<td style="width:unset" >Cheese </td>
											<td><label class="checkbox-inline"><input type="checkbox" value="">Fixed</label></td>
											<td><label class="checkbox-inline"><input type="checkbox" value="">Optional</label></td>
										</tr>	
										<tr>
											<td style="width:unset" >Bacon </td>
											<td><label class="checkbox-inline"><input type="checkbox" value="">Fixed</label></td>
											<td><label class="checkbox-inline"><input type="checkbox" value="">Optional</label></td>
										</tr>	
																				<tr>
											<td style="width:unset" >Pickles </td>
											<td><label class="checkbox-inline"><input type="checkbox" value="">Fixed</label></td>
											<td><label class="checkbox-inline"><input type="checkbox" value="">Optional</label></td>
										</tr>	
									</tbody>
							</table>	
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-9">
					<legend style="text-align:center" > (3) Meal Options </legend>
					<div class="row">
						<div class="col-xs-12 col-md-2 container_details">
							<h5> Item Category</h5>
							<div class="dropdown">
								<button class="btn btn-default dropdown-toggle" id="category" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Category
								<span class="caret"></span>
								</button>
								<ul class="dynamic_link dropdown-menu" aria-labelledby="category">
									{% for element in categories %}
										<li role="presentaton" class="group" id="{{element.category_id}}"><a href="">{{element.category_name}} </a></li>
									{% endfor %}
								</ul>
							</div>
						</div>
						<div class="col-xs-12 col-md-3 container_details">
							<h5> Meal Side</h5>
							<div class="dropdown">
								<button class="btn btn-default dropdown-toggle" id="mainIngredient" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Main Ingredient
								<span class="caret"></span>
								</button>
								<ul class="dynamic_link dropdown-menu" aria-labelledby="mainIngredient">
									{% for element in categoryOptions %}
										<li role="presentaton" class="group" id="{{element.option_id.option_id}}"><a href="">  {{element.option_id.option_name}} </a></li>
									{% endfor %}
								</ul>
							</div>
						</div>
						<div class="col-xs-12 col-md-2 container_details">
							<h5> Choose a size </h5>
							<div class="dropdown">
								<button class="btn btn-default dropdown-toggle" id="category" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Size
								<span class="caret"></span>
								</button>
								<ul class="dynamic_link dropdown-menu" aria-labelledby="category">
									{% for element in sizes %}
										<li role="presentaton" class="group" id="{{element.size_id}}"><a href="">  {{element.size_name}} </a></li>
									{% endfor %}
								</ul>
							</div>
						</div>
						<div class="col-xs-12 col-md-2 container_details">
							<h5> Meal Price </h5>
							<div class="input-group">
								<div class="input-group-addon">$</div>
								<input class="form-control" name="discountNatural" placeholder="2">
								<div class="input-group-addon">.</div>
								<input class="form-control" name="discountFloat" placeholder="90">
							</div>
						</div>
						<div class="col-xs-12 col-md-3 container_details">
							<h5>.. </h5>
							<div>
								<a class="btn btn-md btn-success GJButton" style="outline:none; font-weight:bold" id="addPop"
								data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="Add another meal" href=""> +</a>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</section>
	{% endblock %}
	
	
	<script>
		$(document).ready(function () {
			$(".dynamic_link li").on("click", function() {
				$(".dynamic_link li").removeClass("active");
				$(this).addClass("active");
				
			});
			
			 $('#datetimepicker1').datepicker()
				.on('changeDate', function(ev){
					$('#datetimepicker1').datepicker('hide');
			 });
			 
			  $('#datetimepicker2').datepicker()
				.on('changeDate', function(ev){
					$('#datetimepicker1').datepicker('hide');
			 });
			 
			  $('#datetimepicker3').datepicker()
				.on('changeDate', function(ev){
					$('#datetimepicker1').datepicker('hide');
			 });
			 
			  $('#datetimepicker4').datepicker()
				.on('changeDate', function(ev){
					$('#datetimepicker1').datepicker('hide');
			 });
	
			 
		});
		
	   
	</script>
	