{% extends "base.html" %}
{% block content %}
	<style>
		text{
			font-size:28px;
			
		}
		.jumbotron{
			text-align:center;
		}
		
		.branches {
			font-size:11px;
			color:#2C8A64;
		}
		.jumbotron p {
			text-align:justify;
			font-size:16px;
			padding-top:20px;
			
		}
		
		.btn-success{ border-color:#2C8A64; background-color: #2C8A64; background-image:none; outline:none;}
		.btn-success:hover , .btn-success:focus, .btn-success:active { border-color: #/FED136; background-color: #FED136; transition:all 0.5s; outline:none;}
	</style>
	<section>
		<div class="container">
			<div class="row">
				<h1 style="text-align:left; color:#2C8A64; font-family: 'Poiret One', cursive;"><i>
					Here is our Green Jacket pricing list </i></h1>
			<div class="row" style="padding-top:35px">
			
				<div class="col-xs-12 col-md-4">
					<div class="jumbotron">
						<text> Small enterprises</text>
						<i class="branches"> (Companies with 1 or 2 branches)</i>	
						<p>
							Ideal for a good start to small businesses. We request from you a one-time payment, so we don't run over your budget, and we provide you with all-inclusive features of our Green Jacket web application.
							<div>
								<b>Price: $55 <text style="font-size:11px">(One-time Payment)</text></b>
							</div>
						</p>
						<p style="text-align:center"><a class="btn btn-success btn-lg " href="/GJ_app/signup" role="button">Sign Up</a></p>

					</div>
				</div>
				<div class="col-xs-12 col-md-4">
					<div class="jumbotron">
						<text> Medium enterprises </text>
						<i class="branches">     (Companies with 3 or up to 10 branches)</i>	
						<p>
							Perfect for expandible medium-sized businesses. Through our bundle (web application + mobile application for customers), you will need to start finding a bigger place to expand your business for a bigger crowd.
							<div>
								<b>Price: $40 <text style="font-size:11px">(per year)</text></b>
							</div>

						</p>
						<p style="text-align:center"><a class="btn btn-success btn-lg " href="/GJ_app/signup" role="button">Sign Up</a></p>
					</div>
				</div>
				<div class="col-xs-12 col-md-4">
					<div class="jumbotron">
						<text>Large enterprises</text>
						<i class="branches"> (Companies with more than 10 branches)</i>	
						<p>
							Already BIG? Thinking of ways to increase the business? How about adding more crowd to your large business? Through Green Jacket, you are guaranteed a secured minimum daily profit more than ever!
							<tr>
							<div>
								<b>Price: $55 + QR* </b>
							</div>
							<div>
								<text style="font-size:11px"> * QR Code Shipping fees to each branch location </text>
							</div>

						</p>
						<div style="text-align:center"><a class="btn btn-success btn-lg " href="/GJ_app/signup" role="button">Sign Up</a></div><div style="height:15px"></div>
					</div>
				</div>
			</div>
		</div>
	
	
	
	</section>
{% endblock %}