	<style>
		.btn-success{ border-color:#2C8A64; background-color: #2C8A64; background-image:none; outline:none;}
		.btn-success:hover , .btn-success:focus, .btn-success:active { border-color: #/FED136; background-color: #FED136; transition:all 0.5s; outline:none;}


</style>
<head>
	<link href="/static/css/hover.css" rel="stylesheet" media="all">
</head>
<div class="container" style="height:450px">
  <h1>Welcome to Green Jacket</h1>
  <p style="color:grey; padding-left:25px"> You ultimate <u><b>menu</b></u> solution to reach more customers</p>
  <p style="text-align:center"><a class="btn btn-success btn-lg " href="#" role="button">Sign Up</a></p>

</div>