<!-- NavBar -->
	<nav class ="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
            <div class="container-fluid">
				<div class="navbar-header">
				   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
					<a class="pull-left" href="#">
						<img alt="Brand" src="/static/pictures/GJ_logo_navbar-10%.JPG" class="img-rounded img-responsive">
					</a>           
					<a href="/GJ_app/" class="navbar-brand" style="padding-left:25px">GreenJacket</a>
                </div>
                <div class ="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/GJ_app/">Home</a>
                        <li><a href="#">About Us</a>
                        <li><a href="#">Contact Us</a>
                        <li><a href="/GJ_app/signup">Sign-up</a>
                        <li><a href="/GJ_app/login/">Login</a>
                        <li><a href="/GJ_app/logout/">Logout</a>
                    </ul>
                </div>
            </div>
        </nav><!--  End Nav Bar -->
