<style>

	.navbar-inverse {
		padding-top:0.2em;
		padding-bottom: 0.4em;
		
	}
	.navbar-brand {
	  padding: 0px; /* firefox bug fix */
	  display:inline-flex;
	}
	.navbar-brand>img {
	  height: 100%;
	  width: auto;
	  
	}
	
	
</style>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/GJ_app/" class="navbar-brand" > 
		<img alt="Green Jacket" src="/static/pictures/trans2.gif" class="img-rounded img-responsive">
		<text style="padding-top:0.8em; padding-left: 0.6em; padding-right: 0.6em; font-size:18px !important;"> GreenJacket </text>
	</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" id="activeBar">
        <li id="homeActive"><a href="/GJ_app/">Home</a></li>
		<li id="pricingActive"><a href="/GJ_app/pricing">Pricing</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
		{% if request.session.logged_in %}
			<li id="profileActive"><a href="/GJ_app/profile/">Profile</a></li>
			<li id="logoutActive"><a href="/GJ_app/logout/">Logout</a></li>
		{% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>			 