
<form action="index.html" method="post">
    {% csrf_token %}  
    <h1>Registration</h1>
    
    <fieldset>
        <legend><span class="number">1</span>Company Info</legend>
        <label for="name">Company Name:</label>
        <input type="text" id="name" name="comp_name">
        
        <label for="mail">Email:</label>
        <input type="email" id="mail" name="comp_email">
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="comp_password">

        <label for="phone">Phone Number:</label>
        <input type="text" id="cphonenum" name="comp_phone">

        <label for="phone">Address:</label>
        <input type="text" id="cadress" name="comp_addr">

        <label for="phone">City:</label>
        <input type="text" id="ccity" name="comp_city">

        <label for="phone">State:</label>
        <input type="text" id="cstate" name="comp_state">

        <label for="phone">Zip Code:</label>
        <input type="text" id="czipcode" name="comp_zip">
        
        <label for="branches">Number of Branches:</label>
        <select id="brances" name="comp_branch_num">
            {% for x in "123456789" %}
                <option value= {{x }}>{{x}}</option>
            {% endfor %}
            <option value="10">10+</option>
        </select>
    </fieldset>


    <fieldset>
        <legend><span class="number">2</span>Credit Card Info</legend>

        <label for="phone">Credit Card Holder:</label>
        <input type="text" id="name" name="credit_holder">

        <label for="phone">Credit Card Number:</label>
        <input type="text" id="cardnumber" name="credit_number">

        <label for="phone">Experation Date:</label>
        <input type="text" id="expdate" name="credit_exp_date">

        <label for="phone">CVV#:</label>
        <input type="text" id="cvvnumber" name="credit_cvv">

        <label for="phone">Zip Code:</label>
        <input type="text" id="credzipcode" name="credit_zip">


    </fieldset>
    <button type="submit">Sign Up</button>
</form>



<!--
    <fieldset>

        <label for="bio">Zip Code:</label>
        <textarea id="bio" name="user_bio"></textarea>

        <label for="job">Job Role:</label>
        <select id="job" name="user_job">
            <optgroup label="Web">
                <option value="frontend_developer">Front-End Developer</option>
                <option value="php_developor">PHP Developer</option>
                <option value="python_developer">Python Developer</option>
                <option value="rails_developer"> Rails Developer</option>
                <option value="web_designer">Web Designer</option>
                <option value="WordPress_developer">WordPress Developer</option>
            </optgroup>
            <optgroup label="Mobile">
                <option value="Android_developer">Androild Developer</option>
                <option value="iOS_developer">iOS Developer</option>
                <option value="mobile_designer">Mobile Designer</option>
            </optgroup>
            <optgroup label="Business">
                <option value="business_owner">Business Owner</option>
                <option value="freelancer">Freelancer</option>
            </optgroup>
            <optgroup label="Other">
                <option value="secretary">Secretary</option>
                <option value="maintenance">Maintenance</option>
            </optgroup>
        </select>
        
        <label>Interests:</label>
        <input type="checkbox" id="development" value="interest_development" name="user_interest"><label class="light" for="development">Development</label><br>
          <input type="checkbox" id="design" value="interest_design" name="user_interest"><label class="light" for="design">Design</label><br>
        <input type="checkbox" id="business" value="interest_business" name="user_interest"><label class="light" for="business">Business</label>

        <label>Age:</label>
        <input type="radio" id="under_13" value="under_13" name="user_age"><label for="under_13" class="light">Under 13</label><br>
        <input type="radio" id="over_13" value="over_13" name="user_age"><label for="over_13" class="light">13 or older</label>
    </fieldset>
-->


